
/* HOMEPAGE */
body {
    background-image: url("../MEDIA/estate4.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 15px;
}
.section{
    background-color: rgb(3, 25, 116);
    background-size: cover;
    border-radius: 40px;
    margin-bottom: 30px;
    padding: 50%;
}
h1 {
    color:rgb(241, 246, 252);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    font-weight: bold;
    background-color: rgba(34, 31, 52, 0.9);
    
   
}
p {
    color:rgb(251, 251, 252);
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 1.5;
    border-color: aqua;
    border: 2px solid rgb(3, 112, 149);
    border-radius: 10px;
    padding: 20px;
    margin: 30px;
    
}


.card{
    color: rgb(239, 238, 243);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    text-decoration: none;
}
.logo {
    color: rgb(189, 231, 243);
    text-align: left;
    text-shadow: 0px 0px 8px rgb(236, 236, 245);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    text-decoration: none;
}
a {
    text-decoration: none;
    color: rgb(243, 246, 247);
    padding: 15px 20px;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

a:hover {
    background-attachment: fixed;
    background-color: rgba(3, 0, 16, 0.279);
    box-sizing: content-box;
    transition: all;
}
.button-one {
    text-decoration: none;
    margin: 15px;
    padding: 5px 5px;
    color: rgb(252, 255, 255);
    font-size: small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px solid rgba(16, 16, 213, 0.975);
}

    
.top_nav {
   
    text-align: right;
    align-items: center;
    background-color: rgb(23, 113, 113);
    margin-bottom: 30px;  
}
/* ABOUT */
.about{
    padding: 20px;
    border-radius: 50px;
}
.about section{
    background-color: blue;

}
.description {
    color: rgb(244, 244, 247);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 1.5;
}



.contact{
    color: rgb(227, 227, 237);
    text-align:left;
    padding: 15px;
    

}
.contact-card {

    border-radius: 20px;
    padding: 20px;
    text-align: center;
}
    .contact-card p {
        color: rgb(203, 215, 230);
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        line-height: 1.5;
    }


h2 {
    color: rgb(241, 246, 252);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    font-weight: bold;
    background-color: rgba(34, 31, 52, 0.9);
}
img {
    border-radius: 20px;
    margin: 10px;
    padding: 10px;

}
.container p{
    margin: 0%;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.card-box p{
    border: 2px;
    border-radius: 5px;
    border-color: black; 

}
.home-image{
    background-position: cover;

}
span{
    color: aliceblue;
}
h3{
    color: #fdf7f7;
}