
/* HOMEPAGE */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(1, 9, 18);
}

/*h1, h2, h3, h4*/

h1 {
    color:rgb(251, 252, 253);
    text-align: right;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    font-weight: bold; 
}
h2 {
    color: rgb(0, 4, 9);
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    margin: 20px;
}

h3{
    color: #090005;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;

}
h4{
    color: rgb(1, 9, 18);
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
}
hr{
    border: 1px solid rgb(0, 0, 0);
    width: 100%;
}

/* HOME-PAGE*/

.card-box{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin: 30px;
    position: relative;

}

/* HEADER */

Header{
    text-align: center;
    background-color: rgba(2, 42, 6, 0.996);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 30px;
}
    /* NAVIGATION BAR & ANCHOR */
    
a {
    text-decoration: none;
    color: rgb(243, 246, 247);
    padding: 15px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}
nav{
    background-color: #064c63;
    padding: 15px;

}

nav a {
    
    text-align: right;
    align-items: right;

}
nav a:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(0, 255, 255);
    transition: 0.5s;
}  
    

p {
    color:rgb(4, 4, 14);
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    
}



/* BUTTONS */
.button1:hover {
    background-color: rgba(68, 193, 43, 0.279);
    box-sizing:content-box;
    transition: 0.3;
}
.button1 {
    text-decoration: none;
    margin: 15px;
    padding: 5px 5px;
    color: rgb(1, 15, 15);
    font-size: small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px solid rgba(16, 16, 213, 0.975);
}.button2{
    text-decoration: none;
    margin: 15px;
    padding: 5px 5px;
    color: rgb(252, 255, 255);
    font-size: small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}





/* ABOUT */



.description {
    color: rgb(5, 5, 19);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 1.5;
    margin: 20px;
}


/* CONTACT */

.contact{
    color: rgb(227, 227, 237);
    text-align:left;
    padding: 15px;
}
.contact-card {

    border-radius: 20px;
    border:#090005;
    padding: 20px;
    text-align: center;
}
.contact-card p {
        color: rgb(2, 8, 13);
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        background-color: rgba(12, 148, 169, 0.482);

    }


/*Payments*/

.card{
    color: rgb(5, 2, 17);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    text-decoration: none;
}
/*ESTATES*/


#estates{
    
    background-size:contain;
    border-radius: 20px;
}
section #estates img{
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
}
p #estates{
    color: rgb(1, 9, 18);
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    padding: 20px;
    margin: 30px;
}
span{
    color: rgb(0, 2, 4);
}
.container p{
    margin: 0%;
    border: none;
    font-family: 'Times New Roman', Times, serif;
   
}